/**** Content improvements ****/

.docs-markdown > ol, .docs-markdown > ul {
    padding-left: 1rem !important;
}

#docs-sidebar-right li {
    word-break: break-word;
}

/* #retype-main ul {
    margin-top: 1rem !important;
    padding-left: 1.25rem !important;
}

#retype-main ol {
    margin-top: 1rem !important;
    padding-left: 1.5rem !important;
} */

#retype-main li {
    margin-bottom: 0.25rem !important;
}

ul.list-icon {
    padding-left: 0 !important;
}

/* p:not(.hidden):has(+ul) {
    margin-bottom: 1.5rem !important;
} */

/**** Mobile improvements ****/

@media (max-width: 960px) {
    /* Hide the edit button on mobile */
    #retype-edit-button,
    #retype-edit-this-page {
        display: none !important;
    }

    /* Hide the top links that are moved to the left sidebar on mobile */
    #retype-sidebar-left div:nth-child(3) {
        display: none !important;
    }

    /* Hide the breacrumb on mobile */
    #retype-breadcrumb {
        display: none !important;
    }

    /* Hide the history button on mobile */
    #retype-history-button {
        display: none !important;
    }

    /* Hide the right sidebar toggles on mobile */
    #retype-sidebar-right-toggle {
        display: none !important;
    }
}

/**** Utilities ****/

.align-image-left {
    display: flex;
    justify-content: start;
}
