/**** Content improvements ****/

.docs-markdown > ol, .docs-markdown > ul {
    padding-left: 1rem !important;
}

#docs-sidebar-right li {
    word-break: break-word;
}

/* #retype-main ul {
    margin-top: 1rem !important;
    padding-left: 1.25rem !important;
}

#retype-main ol {
    margin-top: 1rem !important;
    padding-left: 1.5rem !important;
} */

#retype-main li {
    margin-bottom: 0.25rem !important;
}

ul.list-icon {
    padding-left: 0 !important;
}

/* p:not(.hidden):has(+ul) {
    margin-bottom: 1.5rem !important;
} */

/**** Mobile improvements ****/

/* Hide the right sidebar toggles on mobile */
#docs-sidebar-right-toggle {
    display: none !important;
}

@media (max-width: 960px) {
    /* Hide the edit button on mobile */
    #docs-edit-button {
        display: none !important;
    }

    /* Hide the top links that are moved to the left sidebar on mobile */
    .container aside div:nth-child(4) {
        display: none !important;
    }

    /* Hide the breacrumb on mobile */
    .breadcrumb {
        display: none !important;
    }
}

/**** Hide features ****/

#retype-history-button {
    display: none;
}

/**** Utilities ****/

.align-image-left {
    display: flex;
    justify-content: start;
}
